section .title {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
}

section .title:after {
    content: '';
    display: block;
    margin:  20px auto 20px auto;
    flex-basis: 100%;
    width: 100px;
    background: black;
    height: 1px;
}

.information .shell {
    align-items: flex-start;
}

.information .description {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'oxygenregular';
}

.information .description > .item-1 {
    flex-basis: 100%;
}

.information .description > .item-2 {
    flex-basis: 50%;
}

.information .description > .item-3 {
    flex-basis: 33.333333%;
}

.information .p-date {
    font-size: 1em;
    font-style: italic;
    
}

.information .p-date {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 10px;
}

.information .p-company {
    margin-bottom: 10px;
}

.information ul > li {
    margin-bottom: 15px;
    padding-left: 35px;
    position: relative;
    line-height: 1.3em;
}

.information ul > li > i {
    position: absolute;
    top: 0px;
    left: 0;
}

#interests span,
#skills span {
    padding: 8px 16px;
    border-radius: 3px;
    background: #226185;
    color: #fff;
    font-family: 'cabinregular';
    margin: 4px;
    box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
}

#skills span:hover,
#interests span:hover {
    transform: scale(1.1);
    background: #134562;
}

#interests {
    margin-bottom: 20px;
}

.info-panel {
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 720px) {

    .shell > .item-1-md {
        flex-basis: 100% !important;
    }
    
    .shell > .item-2-md {
        flex-basis: 50%  !important;
    }
    
    .shell > .item-3-md {
        flex-basis: 33.333333%  !important;
    }
}

@media only screen and (max-width: 520px) {

    .shell > .item-1-sm {
        flex-basis: 100% !important;
    }
    
    .shell > .item-2-sm {
        flex-basis: 50%  !important;
    }
    
    .shell > .item-3-sm {
        flex-basis: 33.333333%  !important;
    }

    #certificates {
        text-align: center;
    }

    #certificates .item-2 {
        flex-basis: 100%;
    }
}